<ul>
  <% memos.forEach((memo) => { %>

   <% if( memo.chore_type === 'groceries' ) { %>
      <form class="moveRight" style="background-color:green;" action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
          <li>memo:<%= memo.memo%><br> 
            chore-type:<%= memo.chore_type%><button type="submit" id="deleteButton">X</button></li>
      </form>
   <% } %>
   
   <% if( memo.chore_type === 'pharmacy' ) { %>
    <form class="moveRight"  style="background-color:red;" action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
        <li>memo:<%= memo.memo%><br> 
          chore-type:<%= memo.chore_type%><button type="submit" id="deleteButton">X</button>
        </li>
    </form>
    <% } %>

    <% if( memo.chore_type === 'hardware' ) { %>
      <form class="moveRight" style="background-color:orange;" action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
          <li>memo:<%= memo.memo%><br> 
            chore-type:<%= memo.chore_type%><button type="submit" id="deleteButton">X</button></li>
      </form>
   <% } %>

 <% }) %>
</ul>