<ul>
  <% memos.forEach((memo) => { %>

   <% if( memo.chore_type === 'groceries' ) { %>
      <form class="moveRight" id="groceries" style="background-color:olive;" action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
          <li>chore: <%= memo.memo%><button type="submit" id="deleteButton">X</button></li>
      </form>
   <% } %>
   
   <% if( memo.chore_type === 'pharmacy' ) { %>
    <form class="moveRight"  style="background-color:darkred;" action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
        <li>chore: <%= memo.memo%><button type="submit" id="deleteButton">X</button>
        </li>
    </form>
    <% } %>

    <% if( memo.chore_type === 'hardware' ) { %>
      <form class="moveRight" style="background-color:orange;" action="/delete/<%= memo.id %>?_method=DELETE" method="post" name="memo">
          <li>chore: <%= memo.memo%><button type="submit" id="deleteButton">X</button></li>
      </form>
   <% } %>

 <% }) %>
</ul>