<ul id="ulMemosMain">
  <% memos.forEach((memo) => { %>

   <% if( memo.chore_type === 'groceries' ) { %>
      <form class="moveRight" id="groceries"  action="/delete/<%= memo.memo_id %>?_method=DELETE" method="post" name="memo">
          <li>Groceries<hr><br>
            memo: <%= memo.memo%>
            <button type="submit" id="deleteButton">X</button></li>
      </form>
   <% } %>
   
   <% if( memo.chore_type === 'drugstore' ) { %>
    <form class="moveRight"  id="drugstore" action="/delete/<%= memo.memo_id %>?_method=DELETE" method="post" name="memo">
        <li>Drugstore<hr><br>
          memo: <%= memo.memo%>
          <button type="submit" id="deleteButton">X</button>
        </li>
    </form>
    <% } %>

    <% if( memo.chore_type === 'hardware' ) { %>
      <form class="moveRight" id="hardware" action="/delete/<%= memo.memo_id %>?_method=DELETE" method="post" name="memo">
          <li>Hardware<hr><br>
            memo: <%= memo.memo%>
            <button type="submit" id="deleteButton">X</button></li>
      </form>
   <% } %>

 <% }) %>
</ul>