<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pages/dropDownPage.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
  </head>
  <body>
    <form action="/getMemos/<%= userId %>" method="get">
      <button id="homeButton">Home</button>
    </form> 
    
    <form action="/groceries/<%= userId %>" method="get">
      <button id="groceriesButton" name="groceriesButton">Groceries</button>
    </form> 

    <form action="/drugstore/<%= userId %>" method="get">
      <button id="drugstoreButton" name="drugstoreButton">Drugstore</button>
    </form> 

    <form action="/hardware/<%= userId %>" method="get">
      <button id="hardwareButton" name="hardwareButton">Hardware</button>
    </form> 

    <form action="/aboutMe" method="get">
      <button id="aboutMeButton" name="aboutMeButton">About Me</button>
    </form> 

    <form action="/logout" method="get">
      <button id="logoutButton" name="logoutButton">Logout</button>
    </form> 
    
    <button id="showDeleteButton">Delete Account</button>

    <form style="display: none;" id="hiddenDelete" action="/deleteAccount/<%= userId %>?_method=DELETE" method="post">
      <button id="deleteButton" name="deleteButton">PUSH TO DELETE ACCOUNT</button>
    </form> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
      if(localStorage.choreBearUser) {
        var userObjParsed = JSON.parse(localStorage.choreBearUser);
        var id = userObjParsed.id;
        console.log('dropDownPage.ejs - id: ', id);
      }

      $('#showDeleteButton').click(function() {
        $('#showDeleteButton').hide();
        $('#hiddenDelete').show();
      })
    </script>

    <%- include('../partials/footer') %>
</body>
</html>